---
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";

---

<section id="features">
    <Container className="flex flex-col midmd:flex-row gap-10 lg:gap-12">
        
        <div class="flex-1 flex midmd:w-7/12 lg:w-1/2 flex-col">
            <Title>
                Nous fournissons des fonctionnalites importantes pour le marketing numerique
            </Title>
            <Paragraph className="mt-8">
<ol>
<li>1. <strong>Analyse et stratégie</strong> : Nous fournissons une analyse approfondie de votre marché cible et développons des stratégies sur mesure pour maximiser votre impact en ligne.</li>
<li>2. <strong> Création de contenu </strong> : Notre équipe de créateurs de contenu talentueux produit du contenu de haute qualité, engageant et pertinent pour vos campagnes marketing.</li>
<li>3. <strong> Gestion des médias sociaux </strong> : Nous gérons efficacement vos comptes sur les réseaux sociaux, en publiant du contenu régulièrement et en interagissant avec votre audience pour renforcer votre présence en ligne.</li>
<li>4. <strong> Publicité en ligne </strong> : Nous concevons et mettons en œuvre des campagnes publicitaires ciblées pour atteindre votre public spécifique et maximiser votre retour sur investissement.</li>
<li>5. <strong> Optimisation des moteurs de recherche (SEO) </strong> : Nous optimisons votre site web pour améliorer son classement dans les résultats de recherche et augmenter sa visibilité en ligne.</li>
<li>6. <strong> Analyse des performances </strong> : Nous fournissons des rapports détaillés et des analyses des performances de vos campagnes marketing, vous permettant de suivre et d'ajuster votre stratégie en fonction des résultats obtenus.</li>
</ol>
            </Paragraph>
            <Paragraph className="mt-2">
               Ensemble, ces fonctionnalités essentielles constituent un ensemble complet de solutions pour vous aider à atteindre vos objectifs de marketing numérique avec succès.
            </Paragraph>
            <ul class="mt-8 space-y-4 text-heading-3 font-medium">
                <li>
                    <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span> Analyse et stratégie
                </li>
                <li>
                    <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span> Création de contenu
                </li>
                <li>
                    <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span> Gestion des médias sociaux
                </li>
                <li>
                    <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span> Publicité en ligne
                </li>
                <li>
                    <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span> Optimisation des moteurs de recherche (SEO)
                </li>
                <li>
                    <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span> Analyse des performances
                </li>
            </ul>
        </div>

        <div class="max-w-md mx-auto midmd:max-w-none lg:mx-0  lg:pr-10 xl:pr-2 flex-1 flex w-11/12 midmd:w-5/12 lg:w-1/2 midmd:h-auto">
            <div class="w-full h-80 sm:h-96 midmd:h-full relative">
                <div class="absolute rotate-45 -left-5 md:-left-10 lg:-left-20 xl:-left-24 p-1 top-1/2 w-16 h-16 bg-gradient-to-br from-primary to-orange-400 blur-3xl opacity-50"></div>
                <div class="absolute  p-1 -top-4 md:-top-10 right-0 w-20 h-20 bg-gradient-to-br from-primary to-orange-400 rounded-full blur-3xl opacity-60"></div>
                
                <span class="absolute w-full aspect-[16/5] -skew-x-12 rounded-full bg-gradient-to-tr from-primary to-green-400 opacity-40 blur-2xl left-0 bottom-0"></span>
                <img src={"/images/dev-with-c.webp"} alt="banner image" 
                width="1240" height="1385"
                class=" w-auto left-1/2 -translate-x-1/2 absolute bottom-0 max-h-full" />
            </div>
        </div>
    </Container>
</section>
